:root {
  --moderateCyan: hsl(176, 50%, 47%);
  --darkCyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsla(0, 0%, 48%);
  --darkGrayBG: rgba(122, 122, 122, 0.075);
  --bluish: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  padding: 1em 0;
  margin: 0 auto;
}

.hero-section {
  background-image: url("./images/image-hero-mobile.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  text-align: right;
}

.menu li {
  list-style: none;
  color: white;
}

.show {
  display: block;
}

main {
  background-color: var(--darkGrayBG);
  position: relative;
  top: -55px;
}

button {
  color: white;
  font-weight: 700;
  background-color: var(--moderateCyan);
  border: none;
  border-radius: 2em;
  padding: 1.3em 0;
  width: 190px;
}

.white-box-container {
  background-color: white;
  padding: 2em;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 2em;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  color: var(--darkGray);
}

#logo-mastercraft {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -30px;
}

.stats {
  margin: 2.5em 0;
}

.stats p::after {
  display: block;
  content: "";
  width: 40%;
  height: 4px;
  background: var(--darkGrayBG);
  position: relative;
  bottom: -20px;
  margin: auto;
}

.progress-bar {
  width: 100%;
  background-color: var(--darkGrayBG);
  border-radius: 1em;
}

.progress-bar-inside {
  height: 1em;
  width: 80%;
  border-radius: 1em;
  background-color: var(--moderateCyan);
}

.card {
  width: 100%;
  border: 3px solid var(--darkGrayBG);
  border-radius: 0.5em;
  margin: 1.5em auto;
  padding: 1em;
}

.blue-h3 {
  color: var(--moderateCyan);
}

.price {
  display: flex;
  align-items: center;
}

.price p {
  margin-left: 0.5em;
}
